.content{
    width:50%;
    margin: 10px auto;
}
.content img{
    width: 100%;
}
h1{
    text-align: center;
    font-family:monospace;
    color:red;

}
.hide{
    display:none;
}
.show{
    display: block;
    animation: show .8s;
}
@keyframes show {
    from {
        opacity:0;
        transform: translate3d(-30px, 0px, 0px)
    }
    to{
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}
